<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Semester2">

        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".transaksi.TopupActivity"
            android:exported="false" />

        <activity
            android:name=".transaksi.KirimActivity"
            android:exported="false" />

        <activity
            android:name=".transaksi.MintaActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.setting.SettingActivity"
            android:exported="false" />
        
        <activity
            android:name="com.example.semester2.kategori.DataKategoriActivity"
            android:exported="false" />
            
        <activity
            android:name="com.example.semester2.kategori.KategoriActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.DataLayananActivity"
            android:exported="false" />
            
        <activity
            android:name="com.example.semester2.kategori.LayananActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.PrinterActivity"
            android:exported="false" />
            
        <activity
            android:name="com.example.semester2.kategori.MainKategoriActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.DataPegawaiActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.PegawaiActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.TrollyActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.ReportActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.DataCabangActivity"
            android:exported="false" />

        <activity
            android:name="com.example.semester2.kategori.CabangActivity"
            android:exported="false" />
            
    </application>

</manifest>
